$colors: (
  button: #41B0FF,
  button-primary: #b51e89,
  white: #FFF,
  black: #000,
  label: #F4FA3A,
  form-control: black,
  yellow: #FFFC00,
  purple: #390043,
  error: #D4188D
);
@function color($key) {
  @return map-get($colors, $key);
}
