@import url('https://fonts.googleapis.com/css?family=Fredoka+One');

$fonts: (
  button: 'Fredoka One',
  label: 'Fredoka One',
  text: 'Fredoka One',
);
$font-sizes: (
  s: 1.3rem,
  m: 1.6rem,
  l: 2.2rem,
);
@function font($key) {
  @return map-get($fonts, $key);
}
@function font-size($key) {
  @return map-get($font-sizes, $key);
}
