@import url('https://fonts.googleapis.com/css?family=Fredoka+One');

$fonts: (
  button: 'Fredoka One',
  label: 'Fredoka One',
  text: 'Fredoka One',
);
@function font($key) {
  @return map-get($fonts, $key);
}
